body {
    font-family: Arial;
    background: #eef2f7;
    margin: 20px;
}

h2 {
    text-align: center;
}

a {
    background: #3498db;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #3498db;
    color: white;
}